# Configuration file

general {
    # Boolean: false
    B:AutoCollect=false

    # Boolean: true
    B:DestroyUnder=true

    # Boolean: false
    B:DropGather=true

    # Integer: 0
    # 0:not decrease durability 1,2:decrease durability(1=until whole blocks 2=until break an item)
    I:Durability=2

    # String: "KEY_M"
    S:Key=KEY_COMMA

    # Integer: 0
    I:Limiter=9

    # Boolean: true
    B:StartMode=true

    # String: "gold_ore, iron_ore, coal_ore, lapis_ore, obsidian, diamond_ore, redstone_ore, lit_redstone_ore, glowstone, emerald_ore, quartz_ore"
    S:blockIds=gold_ore, iron_ore, coal_ore, lapis_ore, obsidian, diamond_ore, redstone_ore, lit_redstone_ore, glowstone, emerald_ore, quartz_ore, clay, BigReactors:YelloriteOre,  Thaumcraft:blockCustomOre, ThermalFoundation:Ore, appliedenergistics2:tile.OreQuartz, appliedenergistics2:tile.OreQuartzCharged, appliedenergistics2:tile.BlockSkyStone, Railcraft:tile.railcraft.ore

    # String: "mod_MineAll"
    S:channelName=mod_MineAll

    # String: "iron_pickaxe, wooden_pickaxe, stone_pickaxe, diamond_pickaxe, golden_pickaxe"
    S:itemIds=iron_pickaxe, wooden_pickaxe, stone_pickaxe, diamond_pickaxe, golden_pickaxe, AWWayofTime:boundPickaxe, Botania:manasteelPick, Botania:elementiumPick, Botania:glassPick, EnderIO:item.darkSteel_pickaxe, RedstoneArsenal:tool.pickaxeFlux, TConstruct:pickaxe, Thaumcraft:ItemPickThaumium, Thaumcraft:ItemPickaxeElemental, Thaumcraft:ItemPickVoid, ThaumicTinkerer:ichorPickGem, ThaumicTinkerer:ichorPick, ThermalExpansion:tool.pickaxeInvar, appliedenergistics2:item.ToolCertusQuartzPickaxe, appliedenergistics2:item.ToolNetherQuartzPickaxe, Railcraft:tool.steel.pickaxe

}

