# Configuration file

general {
    # Boolean: false
    B:DestroyUnder=true

    # Boolean: true
    B:DropGather=true

    # Integer: 0
    # 0:not decrease durability 1,2:decrease durability(1=until whole blocks 2=until break an item)
    I:Durability=2

    # String: "KEY_C"
    S:Key=KEY_COMMA

    # Integer: 0
    I:Limiter=0

    # Boolean: true
    B:StartMode=true

    # String: "log, brown_mushroom_block, red_mushroom_block, log2"
    S:blockIds=log, brown_mushroom_block, red_mushroom_block, log2, MineFactoryReloaded:tile.mfr.rubberwood.log, Thaumcraft:blockMagicalLog

    # String: "mod_CutAll"
    S:channelName=mod_CutAll

    # String: "iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe"
    S:itemIds=iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe, AWWayofTime:boundAxe, Botania:manasteelAxe, Botania:elementiumAxe, RedstoneArsenal:tool.axeFlux, Thaumcraft:ItemAxeThaumium, ThermalExpansion:tool.axeInvar, appliedenergistics2:item.ToolCertusQuartzAxe, appliedenergistics2:item.ToolNetherQuartzAxe, Railcraft:tool.steel.axe

    # String: ""
    S:leavesIds=Thaumcraft:blockMagicalLeaves

    # Integer: 3
    I:leavesRange=5

    # String: ""
    S:nondestructiveItemIDs=AWWayofTime:boundAxe, EnderIO:item.darkSteel_axe, RedstoneArsenal:tool.axeFlux
}


